---
import BaseLayout from "../layouts/BaseLayout.astro";
import Collections from "../components/Collections.jsx";
import EmailBox from "../components/EmailBox.astro";
---

<BaseLayout>
	<div class="container">
		<Collections client:load />
	</div>
	<EmailBox />
</BaseLayout>
