---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import phone from "../assets/img/icons/dark/phone.svg";
import mail from "../assets/img/icons/dark/mail.svg";
import location from "../assets/img/icons/dark/location.svg";
import "../main.css";
---

<BaseLayout>
    <div class="contact-container">
        <div class="contact-info">
          <h2>НОРТЕКС</h2>
          
          <div class="address">
            <Image src={location} alt="Адрес" width="24" height="24" />
            <p>

              127238 г. Москва, Дмитровское шоссе 71Б, Западное Дегунино, Северный (САО)<br />
              Бизнес-Центр "ONE"<br />
              Метро: Верхние Лихоборы<br />
            </p>
          </div>

          <div class="phone">
            <Image src={phone} alt="Телефон" width="24" height="24" />
            <a href="tel:+7(495)2213316">+7 (495) 221 - 33 - 16</a>
            <a href="tel:+7(903)2213316">+7 (903) 221 - 33 - 16</a>
          </div>

          <div class="email">
            <Image src={mail} alt="Email" width="24" height="24" />
            <a class="-text l link" href="mailto:firma.nortex@gmail.com"
            >firma.nortex@gmail.com</a
            >
            <a class="-text l link" href="mailto:info@tkani-nortex.ru"
              >info@tkani-nortex.ru</a
            >
          </div>
        </div>

        <div class="map">
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2145.0481076767146!2d37.54179557238424!3d55.912286503450524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b539f2054abb6d%3A0xa7cb3b1792f19c58!2z0JTQvNC40YLRgNC-0LLRgdC60L7QtSDRiC4sIDcx0LEsIE1vc2t2YSwgS3JpZXZpamEsIDEyNzQ5NQ!5e0!3m2!1slv!2slv!4v1740513784759!5m2!1slv!2slv" 
            style="border:0;"
            allowfullscreen=""
            width="100%" 
            height="450" 
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe> -->
          <iframe 
          src="https://yandex.ru/map-widget/v1/?ll=37.541722,55.857771&z=16&text=Нортекс%2C%20магазин%20тканей%2C%20Москва%2C%20Дмитровское%20шоссе%2C%2071Б"
            width="100%" 
            height="450" 
            allowfullscreen="true" style="border: 1px solid #ccc;"></iframe>
        </div>

      </div>
</BaseLayout>

<style scoped>

    p {
      font-size: 20px;
    }
    .contact-container {
      max-width: 1200px;
      margin: 2rem auto;
      padding: 0 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    .contact-info {
      padding: 1rem;
    }

    .contact-info h2 {
      margin-top: 0;
      color: #333;
    }

    .address, .phone, .email {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      font-size: 18px;
      margin-bottom: 1rem;
    }

    .phone a, .email a {
      color: #333;
      text-decoration: none;
    }

    .phone a:hover, .email a:hover {
      color: #B8995E;
    }

    .map {
      width: 100%;
      height: 450px;
    }

    @media (max-width: 768px) {
      .contact-container {
        grid-template-columns: 1fr;
      }
      p {
        font-size: 16px;
      }
      .address, .phone, .email {
        flex-direction: column;
      }
      
    }
  </style>
