---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeImage from "../assets/img/homeImage.jpg";
import { Image } from "astro:assets";
import "../main.css";
---

<BaseLayout>
	<div class="container">
		<div>asdasd</div>
	</div>
</BaseLayout>

<style scoped></style>
