---
import BaseLayout from "../layouts/BaseLayout.astro";
import FurnitureList from "../components/FurnitureList.jsx";
---

<BaseLayout>
	<div class="container">
		<FurnitureList client:only />
	</div>
</BaseLayout>
