---
import BaseLayout from "../layouts/BaseLayout.astro";
import Categories from "../components/Categories.jsx";

import { Image } from "astro:assets";
import "../main.css";
import Norteks from "../assets/img/logo.svg";
import Slider from "../components/Slider";
import Advantages from "../components/Advantages.astro";
---

<BaseLayout>
	<Slider client:load/>
	<div class="container disable-bottom">
		<div class="text xl">
			НОРТЕКС предлагает широкий выбор высококачественных и
			высокотехнологичных тканей от ведущих мировых производителей.<br/>
			Уделяем особое внимание к соответствию цена/качество, предоставляем
			ткани разных ценовых категорий, экологичных, износостойких, с
			широким спектром цветов и применением новейших технологий при
			производстве.
		</div>
		<div class="text"><br/>
			Команда НОРТЕКС уже более 20 лет на рынке мебельных тканей. <br/>Наша
			главная задача - соответствовать высочайшим стандартам качества и
			обслуживания, успешно реализовать даже самые сложные запросы
			клиентов.
		</div>
	</div>
	<Advantages />
	<Categories client:only showEmail={false} />
	<div class="container">
		<div class="text">
			Наши сотрудники имеют более 20-ти летний опыт продаж тканей на Российский рынок. Наши клиенты это крупные производства, частные дизайнеры и декораторы, дизайнерские студии, архитектурные бюро, государственные заказы. Имеем огромный ассортимент лучших мировых тканей для мебели и штор, таких как велюр, замша, микрофибра, экокожа, рогожка, негорючие ткани, мировые тренды, уличные ткани outdoor, Trevira CS с нитью из полиэстера, шенилл, ткани с рисунком, букле, шерсть, лен, хлопок, бархат, мех, ткани с сертификатом AVIO/IMO, блэкаут, тюль и многие другие с широким спектром цветов. 
		</div>
		<div class="text">
			Наша главная задача быть уверенными в высоко-технологичности, безупречном качестве продукции и широком спектре цветов, а также соответствовать высочайшим стандартам качества и обслуживания, успешно реализовать даже самые сложные запросы клиентов.
		</div>
		<div class="text">
			Помимо тканей поставляем фурнитуру для мебели в виде ножек и мебельных деталей. Для удобства предлагаем продажу тканей по рулонам или отрезам в метрах, располагаем складом и гибкой доставкой. У нас Вы можете найти ткань на любой вкус и цвет, выбрать необходимую ценовую категорию и страну производителя. Являемся лидерами и новаторами индустрии.
		</div>
	</div>

</BaseLayout>

<style scoped>
	.text {
		font-size: 18px;
		max-width: 1700px;
		line-height: 32px;
		color: rgb(40, 40, 40);
		@media (max-width: 768px) {
			line-height: 22px;
			font-size: 12px;
		}
		&.s {
			font-size: 16px;
			max-width: 1200px;
		}
		&.xl {
			font-size: 22px;
			font-weight: 700;
			@media (max-width: 768px) {
				font-size: 14px;
			}
		}
		&.white {
			color: #fff;
		}
	}
	
</style>
