---
import BaseLayout from "../layouts/BaseLayout.astro";
import Categories from "../components/Categories.jsx";

import { Image } from "astro:assets";
import "../main.css";
import Norteks from "../assets/img/logo.svg";
import Slider from "../components/Slider";
---

<BaseLayout>
	<Slider client:only/>

	<div class="container disable-bottom">
		<div class="text xl">
			НОРТЕКС предлагает широкий выбор высококачественных и
			высокотехнологичных тканей от ведущих мировых производителей.
			Уделяем особое внимание к соответствию цена/качество, предоставляем
			ткани разных ценовых категорий, экологичных, износостойких, с
			широким спектром цветов и применением новейших технологий при
			производстве.
		</div>
		<div class="text">
			Команда НОРТЕКС уже более 20 лет на рынке мебельных тканей. Наша
			главная задача - соответствовать высочайшим стандартам качества и
			обслуживания, успешно реализовать даже самые сложные запросы
			клиентов.
		</div>
		<Categories client:only showEmail={false} />
	</div>
</BaseLayout>

<style scoped>
	.text {
		font-size: 20px;
		line-height: 32px;
		@media (max-width: 768px) {
			line-height: 22px;
			font-size: 12px;
		}
		&.s {
			font-size: 16px;
			max-width: 1200px;
		}
		&.xl {
			font-size: 24px;
			font-weight: 700;
			@media (max-width: 768px) {
				font-size: 14px;
			}
		}
		&.white {
			color: #fff;
		}
	}
	
</style>
