---
import BaseLayout from "../layouts/BaseLayout.astro";
import Categories from "../components/Categories.jsx";

import { Image } from "astro:assets";
import "../main.css";
import Norteks from "../assets/img/logo.svg";
---

<BaseLayout>
	<div class="home-image">
		<div class="-container">
			<Image src={Norteks} class="-img" alt="" />
			<div class="-title">Стильный гардероб мягкой мебели</div>
			<button class="-button">
				<a class="-text link" href="mailto:firma.nortex@gmail.com"
					>Оставить заявку
				</a>
			</button>
		</div>
	</div>

	<div class="container disable-bottom">
		<div class="text xl">
			НОРТЕКС предлагает широкий выбор высококачественных и
			высокотехнологичных тканей от ведущих мировых производителей.
			Уделяем особое внимание к соответствию цена/качество, предоставляем
			ткани разных ценовых категорий, экологичных, износостойких, с
			широким спектром цветов и применением новейших технологий при
			производстве.
		</div>
		<div class="text">
			Команда НОРТЕКС уже более 20 лет на рынке мебельных тканей. Наша
			главная задача - соответствовать высочайшим стандартам качества и
			обслуживания, успешно реализовать даже самые сложные запросы
			клиентов.
		</div>
		<Categories client:only showEmail={false} />
	</div>
</BaseLayout>

<style scoped>
	.text {
		font-size: 20px;
		line-height: 32px;
		@media (max-width: 768px) {
			line-height: 22px;
			font-size: 12px;
		}
		&.s {
			font-size: 16px;
			max-width: 1200px;
		}
		&.xl {
			font-size: 24px;
			font-weight: 700;
			@media (max-width: 768px) {
				font-size: 14px;
			}
		}
		&.white {
			color: #fff;
		}
	}
	.home-image {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 800px;
		background-image: url("../assets/img/homeImage.jpg");
		background-size: cover;
		background-position: center;
		@media (max-width: 768px) {
			height: 500px;
		}
		.-container {
			display: flex;
			flex-direction: column;
			gap: 24px;
			margin-left: 60px;
			max-width: 800px;
			@media (max-width: 768px) {
				margin-left: 20px;
			}
			.-title {
				color: #fc7604;
				font-size: 80px;
				@media (max-width: 768px) {
					font-size: 40px;
				}
			}
			.-button {
				border-radius: 40px;
				width: 280px;
				height: 60px;
				background: #fc7604;
				border: 0;
				color: aliceblue;
				font-size: 24px;
				font-weight: 500;
				@media (max-width: 768px) {
					font-size: 16px;
					width: 200px;
					height: 5dvb;
				}
			}
			.-img {
				width: 220px;
				height: auto;
			}
		}
	}
</style>
