---
import BaseLayout from "../layouts/BaseLayout.astro";
import Categories from "../components/Categories.jsx";

import { Image } from "astro:assets";
import "../main.css";
import Norteks from "../assets/img/logo.svg";
import Slider from "../components/Slider";
import Advantages from "../components/Advantages.astro";
---

<BaseLayout>
	<Slider client:only/>
	<div class="container disable-bottom">
		<div class="text xl">
			НОРТЕКС предлагает широкий выбор высококачественных и
			высокотехнологичных тканей от ведущих мировых производителей.
			Уделяем особое внимание к соответствию цена/качество, предоставляем
			ткани разных ценовых категорий, экологичных, износостойких, с
			широким спектром цветов и применением новейших технологий при
			производстве.
		</div>
		<div class="text">
			Команда НОРТЕКС уже более 20 лет на рынке мебельных тканей. Наша
			главная задача - соответствовать высочайшим стандартам качества и
			обслуживания, успешно реализовать даже самые сложные запросы
			клиентов.
		</div>
	</div>
	<Advantages />
	<Categories client:only showEmail={false} />
	<div class="container">
		<div class="text">
			Компания Валенсия, вот уже более 7 лет занимается поставкой декоративных тканей
			для штор, негорючих и скатертных тканей на Российском рынке. Наши клиенты это салоны
			штор, дизайн студии, архитектурные бюро, магазины тканей, а также частные
			профессиональные декораторы и дизайнеры интерьеров.
		</div>
		<div class="text">
			Отдельное направление в нашей компании занимает рулонная продажа тканей напрямую
			с фабрик по фабричным ценам. Это особенно интересно салонам штор
			и магазинам тканей, имеющим свой склад и занимающимся продажей тканей из наличия.
		</div>
		<div class="text">
			Наша компания оказывает полный сервис
			по привозу тканей в Россию. Вы имеете возможность, по желанию, заказать ткань
			у нас, как с доставкой в Россию, так и напрямую с фабрики в Испании или Италии.
		</div>
	</div>

</BaseLayout>

<style scoped>
	.text {
		font-size: 20px;
		line-height: 32px;
		@media (max-width: 768px) {
			line-height: 22px;
			font-size: 12px;
		}
		&.s {
			font-size: 16px;
			max-width: 1200px;
		}
		&.xl {
			font-size: 24px;
			font-weight: 700;
			@media (max-width: 768px) {
				font-size: 14px;
			}
		}
		&.white {
			color: #fff;
		}
	}
	
</style>
