---
import BaseLayout from "../layouts/BaseLayout.astro";
import CollectionItem from "../components/CollectionItem.jsx";
---

<BaseLayout>
	<div class="container">
		<CollectionItem client:load />
	</div>
</BaseLayout>
