---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeImage from "../assets/img/homeImage.jpg";
import { Image } from "astro:assets";
import ProductItem from "../components/ProductItem.jsx";
---

<BaseLayout>
	<div class="container">
		<ProductItem client:only />
	</div>
</BaseLayout>
