---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeImage from "../assets/img/homeImage.jpg";
import { Image } from "astro:assets";
import Categories from "../components/Categories.jsx";
---

<BaseLayout>
	<div class="container">
		<Categories client:only />
	</div>
</BaseLayout>
