---
import EmailForm from "./EmailForm";
---

<div class="content">
	<div class="title">Оставьте заявку и мы с вами обязательно свяжемся</div>
	<EmailForm client:only />
</div>

<style scoped>
.title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #fff;
	max-width: 500px;
	@media (max-width: 768px) {
		font-size: 24px;
	}
}
.content {
	height: 700px;
	width: 100%;
	gap: 30px;
	flex-direction: column;
	background: rgb(98, 98, 98);
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../assets/img/email-back.jpg');
	
	@media (max-width: 768px) {
		height: 450px;
	}
}
</style>
