.container {
	display: flex;
	flex-direction: column;
	max-width: 1940px;
	width: 96%;
	padding: 25px 5px;
	@media (max-width: 1024px) {
		padding: 16px 5px;
		width: 96%;
	}
	&.offset {
		gap: 16px;
		@media (max-width: 768px) {
			gap: 12px;
		}
	}
	&.disable-top {
		padding: 0px 5px 16px 5px;
	}
	&.disable-bottom {
		padding: 16px 5px 0px 5px;
	}
}

a {
	color: #0f0f0f;
	text-decoration: none;
}

.title {
	font-size: 42px;
	font-weight: 700;
	@media (max-width: 1024px) {
		font-size: 36px;
	}
	&.s { font-size: 32px;}
}

.spec {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding-bottom: 12px;
	max-width: 300px;
	border-bottom: 1px solid #000;
	margin-bottom: 8px;
	&.no-border {
		border-bottom: 0px;
		margin-bottom: 4px;
		padding-bottom: 8px;
	}
	.-name {
		font-size: 14px;
		font-weight: 400;
		color: #5F5F5F;
		@media (max-width: 1024px) {
			font-size: 12px;
		}
	}
	.-value {
		font-size: 20px;
		font-weight: 600;
		@media (max-width: 1024px) {
			font-size: 14px;
		}
	}
}

.text {
	font-size: 24px;
	font-weight: 500;
	margin-top: 5px;
	@media (max-width: 1024px) {
		font-size: 16px;
	}
	&.small-width {
		max-width: 1000px;
	}
	&.s { 
		font-size: 22px;
		@media (max-width: 1024px) {
			font-size: 14px;
		}
	}
}

.skeleton {
	background: #e2e2e2;
	width: 1fr;
	height: auto;
	aspect-ratio: 4/3;
	&.collection {
		aspect-ratio: 7/6;
	}
	&.product {
		aspect-ratio: 1/1;
	}
	&.furniture {
		aspect-ratio: 9/8;
	}
	&.blog {
		aspect-ratio: 7/4;
	}
	&.post {
		margin-top: 10px;
		width: 96%;
		height: 450px;
		margin-bottom: 30px;
		@media (max-width: 768px) {
			height: 30vh;
		}
	}
	&.text {
		margin: 7px 0;
		height: 16px;
		max-width: 900px;
		width: 100%;
		border-radius: 2px;
		&.title {
			height: 40px;
			max-width: 150px;
		}
		&.xl {
			height: 140px;
		}
	}
}

.left {
	width: 96%;
}

.product-list {
	display: grid;
	width:100%;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin-top: 20px;
	@media (max-width: 1024px) {
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	&.collection {
		/* grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@media (max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
		}
	}
	.-item {
		position: relative;
		text-align: center;
		transition: 250ms;
		overflow: hidden;
		object-fit: contain;
		&.skeleton {
			background: #e2e2e2;
			width: 1fr;
			height: auto;
			aspect-ratio: 4/3;
		}

		.-img {
			width: 100%;
			height: auto;
			object-fit: cover;
			aspect-ratio: 4/3;
			&.collection {
				aspect-ratio: 7/6;
			}
			&.product {
				aspect-ratio: 1/1;
			}
		}

		.-text {
			font-family: 'Avenir', sans-serif;
			font-size: 36px;
			position: absolute;
			top: 75%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 85%;
			color: #ffffff;

			@media only screen and (max-width: 550px) {
				font-size: 16px;
			}
		}
	}
}
.email-form {
	display: flex;
	flex-direction: column;
	gap:36px;
	width: 520px;
	@media (max-width: 768px) {
		width: 80%;
		gap: 16px;
	}
	.-input {
		padding: 0 36px;
		border: 1px solid #d1d1d1;
		background: #ffffff;
		border-radius: 3px;
		height: 50px;
		@media (max-width: 768px) {
			height: 40px;
		}
	}
	.-button {
		height: 50px;
		background: #fc7604;
		font-weight: 400;
		font-size: 24px;
		color: #fff;
		border: 0;
	}

}

.blog {
	display: grid;
	width: 100%;
	gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	@media (max-width: 768px) {
		gap: 14px;
		grid-template-columns: 1fr 1fr;
	}
	.-img {
		width: 100%;
		height: auto;
		aspect-ratio: 7/4;
		object-fit: cover;
	}
	.-title {
		font-size: 24px;
		font-weight: 700;
		margin-top: 12px;
	}
	.-description {
		font-size: 16px;
		font-weight: 500;
		margin-top: 6px;
	}

}

.furniture {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	display: grid;
	width: 1fr;
	gap: 30px;
	@media (max-width: 768px) {
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	.-img {
		width: 100%;
		height: auto;
		aspect-ratio: 9/8;
		object-fit: cover;
	}

	.-title {
		font-size: 22px;
		font-weight: 700;
		margin-top: 12px;
		@media (max-width: 768px) {
			font-size: 18px;
		}
	}

	.-description {
		font-size: 14px;
		font-weight: 500;
		margin-top: 6px;
		@media (max-width: 768px) {
			font-size: 12px;
		}
	}
}

.post {
	padding: 20px;
	.-title {
		text-decoration: none;
		font-size: 32px;
		font-weight: 700;
	}
	.-text {
		font-size: 18px;
	}
}
.post-image {
	width: 100%;
	height: 500px;
	object-fit: cover;
	@media (max-width: 768px) {
		height: 30vh;
	}
}

.email-content {
	height: 700px;
	width: 100%;
	gap: 30px;
	flex-direction: column;
	background: rgb(98, 98, 98);
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("./assets/img/email-back.jpg");

	@media (max-width: 768px) {
		height: 450px;
	}

	.-title {
		font-weight: 700;
		font-size: 36px;
		text-align: center;
		color: #fff;
		max-width: 500px;

		@media (max-width: 768px) {
			font-size: 24px;
		}
	}
}