.container {
	display: flex;
	flex-direction: column;
	max-width: 1700px;
	width: 90%;
	padding: 25px 20px;
	
	&.offset {
		gap: 25px;
		@media (max-width: 768px) {
			gap: 20px;
		}
	}
}

.title {
	font-size: 42px;
	font-weight: 700;
	&.s { font-size: 32px;}
}

.text {
	font-size: 28px;
	font-weight: 500;
	&.s { font-size: 24px;}
	margin-top: 5px;
}

.product-list {
	display: grid;
	width:100%;
	grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
	gap: 20px;
	margin-top: 20px;
	@media (max-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}

	&.collection {
		/* grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@media (max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
		}
	}
	.-item {
		position: relative;
		text-align: center;
		transition: 250ms;
		overflow: hidden;
		object-fit: contain;
		&.skeleton {
			background: #e2e2e2;
			width: 1fr;
			height: auto;
			aspect-ratio: 4/3;
		}

		.-img {
			width: 100%;
			height: auto;
			object-fit: cover;
			aspect-ratio: 4/3;
		}

		.-text {
			font-family: 'Avenir', sans-serif;
			font-size: 36px;
			position: absolute;
			top: 75%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 85%;
			color: #ffffff;

			@media only screen and (max-width: 550px) {
				font-size: 16px;
			}
		}
	}
}

.blog {
	display: grid;
	width: 100%;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	@media (max-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
	.-item {
		a {
			color: #0f0f0f;
			text-decoration: none;
		}
		.-img {
			width: 100%;
			height: auto;
		}
		.-title {
			font-size: 24px;
			font-weight: 700;
			margin-top: 12px;
		}
		.-description {
			font-size: 16px;
			font-weight: 500;
			margin-top: 6px;
		}
	}
}

.post {
	padding: 20px;
	.-title {
		text-decoration: none;
		font-size: 32px;
		font-weight: 700;
	}
	.-text {
		font-size: 18px;
	}
}
.post-image {
	width: 100%;
	height: 600px;
	object-fit: cover;
}